<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue.js双向绑定的实现原理</title>
</head>
<body>
    <input type="text" id="a">
    <span id="b"></span>

    <div id="app">
        <input type="text" v-model="text">
        {{ text }}
    </div>
</body>
</html>
<script>
    // x.
    // end -> x.
    
    // 1.
//    var obj = {};
//    Object.defineProperty(obj, 'hello', {
//        get: function (){
//            console.log('get.exe');
//        },
//        set: function (val){
//            console.log('set.exe, arguments is ' + val);
//        }
//    })
//    obj.hello;
//    obj.hello = 'abc';
    //get 和 set 方法内部的 this 都指向 obj，这意味着 get 和 set 函数可以操作对象内部的值。另外，访问器属性的会"覆盖"同名的普通属性，因为访问器属性会被优先访问，与其同名的普通属性则会被忽略
    // end -> 1.
    
    
    // 2.极简双向绑定的实现
//    var obj = new Object();
//    Object.defineProperty(obj, 'hello', {
//        set: function (val){
//            document.getElementById("a").value = val;
//            document.getElementById("b").textContent = val;
//        }
//    })
//
//    document.addEventListener('keyup', function (e){
//        obj.hello = e.target.value;
//    })
    // end -> 2


    // 3.分解任务，最终要实现下面的案例
    //<div id="app">
    //    <input type="text" v-model="text">
    //    {{ text }}
    //</div>
    //var vm = new Vue({
    //    el: '#app',
    //    data: {
    //        text: 'hello luogeger'
    //    }
    //});
    

    
    // end -> 3.
    
</script>
<!--
update
again
-->