/* theme */
//$theme-normal: #FF8A41;
//$theme-hover: #ED6C1C;
//$theme-other: #ffd9c2;
//$theme-opacity: rgba(255,217,194, .3);

$theme-normal: #ED5565;
$theme-hover: #DA4453;
$theme-other: #FA7A87;
$theme-opacity: rgba(237,85,101, .3);

//$theme-normal: #00BFA5;
//$theme-hover: #04A28D;
//$theme-other: #0BDABE;
//$theme-opacity: rgba(0,191,165, .3);

//$theme-normal: #1D98F9;
//$theme-hover: #0283E8;
//$theme-other: #44ABFD;
//$theme-opacity: rgba(11,218,190, .3);


/*  height  */
$height-xs: 24px;
$height-sm: 30px;
$height-md: 34px;
$height-lg: 40px;

/* text */
$text-normal: #222222;
$six9: #999999;
$content-bg: #F6F8F9;