.main{
  .intro{
    padding: 30px 40px 0 40px;
    background-color: #EAEAEA;
    h1{
      font-size: 30px;
    }
    h3{
      padding: 20px 0;
      width: 520px;
      line-height: 20px;
    }
  }

  .info{
    padding: 40px;
    min-width: 1200px;
    position: relative;
    .info-sidle{
      width: 20%;
      float: left;
      min-width: 200px;
      position: relative;
      top: 0px;
      ul{
        border-right: 1px solid #CCCCCC;
        li:not(:last-child){
          color: #222222;
          background-color: #fff;
          //margin-bottom: 10px;
          border-left: 4px solid transparent;
          padding-left: 15px;
          a{
            display: block;
            span{
              color: #999999;
              margin-left: 5px;
              line-height: 1.8;
            }
          }

          &:hover{
            border-color: #000;
          }
        }

        .li-border{
          border-color: #000 !important;
        }

        .backTop{
          padding: 10px 0 0 17px;
          a{
            font-size: 12px;
            line-height: 1.5;
            color: #CCCCCC;
          }

        }
      }
    }

    .info-content{
      width: 80%;
      //min-width: 900px;
      float: left;
      padding-left: 40px;
      >div{
        height: 200px;
        border: 1px dashed #ff0000;
        border-radius: 10px;
        h1{
          font-size: 24px;
          line-height: 2;
          //padding-top: 60px;
          border-bottom: 1px solid #EEEEEE;
        }
      }
      #down>h1{
        padding-top: 0;
      }
    }
  }

  .footer{
    text-align: center;
    font-size: 12px;
    padding: 10px 0;
    border-top: 1px solid #CCCCCC;
  }
}