.main .intro {
  padding: 30px 40px 0 40px;
  background-color: #EAEAEA; }
  .main .intro .title {
    font-size: 30px; }
  .main .intro .explain {
    padding: 20px 0;
    width: 520px;
    line-height: 1.8; }
.main .info {
  padding: 40px;
  min-width: 1200px;
  position: relative; }
  .main .info .info-sidle {
    width: 20%;
    float: left;
    min-width: 200px;
    max-width: 300px;
    position: relative;
    top: 0px; }
    .main .info .info-sidle ul {
      border-right: 1px solid #CCCCCC; }
      .main .info .info-sidle ul li {
        color: #222222;
        background-color: #fff;
        border-left: 4px solid transparent;
        padding-left: 20px; }
        .main .info .info-sidle ul li a {
          display: block; }
          .main .info .info-sidle ul li a span {
            color: #999999;
            margin-left: 5px;
            line-height: 2.6; }
        .main .info .info-sidle ul li:hover a, .main .info .info-sidle ul li:hover span {
          color: #000000; }
      .main .info .info-sidle ul .li-border {
        border-color: #000 !important; }
  .main .info .info-content {
    width: 80%;
    float: left;
    padding-left: 40px; }
    .main .info .info-content > div {
      border-radius: 10px;
      padding-bottom: 20px; }
      .main .info .info-content > div > h2 {
        border-bottom: 1px solid #EEEEEE;
        padding: 10px 0; }
        .main .info .info-content > div > h2 span {
          color: #CCCCCC; }
      .main .info .info-content > div > .explain {
        padding: 15px 0;
        font-size: 14px;
        line-height: 1.3; }
      .main .info .info-content > div > .box {
        border: 1px solid #e2e4e5;
        border-radius: 4px; }
        .main .info .info-content > div > .box .box-demo {
          padding: 20px;
          border-bottom: 1px solid #E2E4E5; }
          .main .info .info-content > div > .box .box-demo .instance {
            line-height: 2;
            margin-bottom: 10px;
            color: #cccccc; }
        .main .info .info-content > div > .box .box-code {
          position: relative;
          overflow: hidden;
          border-radius: 0 0 4px 4px; }
          .main .info .info-content > div > .box .box-code .box-copy {
            position: absolute;
            top: 19px;
            right: 0;
            width: 70px;
            line-height: 30px;
            text-align: center;
            border-left: 1px solid #E2E4E5;
            border-bottom: 1px solid #E2E4E5;
            border-radius: 0 0 0 4px;
            background-color: #fff;
            cursor: pointer; }
        .main .info .info-content > div > .box .box-code:not(:last-child) code {
          border-bottom: 1px solid #E2E4E5; }
    .main .info .info-content #down ul li {
      width: 16%;
      float: left;
      text-align: center;
      border-radius: 6px;
      box-shadow: 1px 1px 2px #cccccc; }
      .main .info .info-content #down ul li a {
        display: block;
        height: 100px; }
        .main .info .info-content #down ul li a .color {
          height: 60px;
          padding-top: 12px;
          border-radius: 6px 6px 0 0; }
          .main .info .info-content #down ul li a .color span {
            display: block;
            color: #ffffff; }
        .main .info .info-content #down ul li a .txt {
          height: 40px;
          line-height: 40px;
          border-radius: 0 0 6px 6px;
          border: 1px solid #F3F3F3;
          border-top: none; }
    .main .info .info-content #down ul li:not(:first-child) {
      margin-left: 5%; }
    .main .info .info-content #down ul li:nth-child(1) a .color {
      background-color: #ff8a41; }
    .main .info .info-content #down ul li:nth-child(2) a .color {
      background-color: #ed5565; }
    .main .info .info-content #down ul li:nth-child(3) a .color {
      background-color: #00bfa5; }
    .main .info .info-content #down ul li:nth-child(4) a .color {
      background-color: #1d98f9; }
    .main .info .info-content #down ul li:nth-child(5) a .color {
      background-color: #CCCCCC; }
    .main .info .info-content #icon .box .box-demo #iconPic {
      height: 330px;
      background-color: #FCFCFC;
      overflow: hidden; }
      .main .info .info-content #icon .box .box-demo #iconPic ul li {
        border-radius: 4px;
        float: left;
        width: 12.5%;
        text-align: center; }
        .main .info .info-content #icon .box .box-demo #iconPic ul li i {
          font-size: 36px;
          color: #CCCCCC;
          display: inline-block;
          vertical-align: middle;
          padding: 20px 0; }
        .main .info .info-content #icon .box .box-demo #iconPic ul li span h6 {
          height: 32px; }
    .main .info .info-content #typo .demo-main ul {
      padding-left: 30px; }
      .main .info .info-content #typo .demo-main ul li {
        padding: 10px 0; }
        .main .info .info-content #typo .demo-main ul li h1, .main .info .info-content #typo .demo-main ul li h2, .main .info .info-content #typo .demo-main ul li h3, .main .info .info-content #typo .demo-main ul li h4, .main .info .info-content #typo .demo-main ul li h5, .main .info .info-content #typo .demo-main ul li h6 {
          display: inline-block;
          width: 160px; }
        .main .info .info-content #typo .demo-main ul li .t-key {
          color: #cccccc; }
        .main .info .info-content #typo .demo-main ul li .t-val {
          padding-right: 50px;
          padding-left: 10px; }
    .main .info .info-content #button .demo-main ul li {
      float: left;
      width: 16.6%; }
      .main .info .info-content #button .demo-main ul li button {
        display: block;
        margin: 30px 0; }
      .main .info .info-content #button .demo-main ul li button:first-child {
        margin-top: 0; }
.main .footer {
  text-align: center;
  font-size: 12px;
  padding: 10px 0;
  border-top: 1px solid #CCCCCC; }
.main #backTop {
  position: fixed;
  bottom: 40px;
  right: 5px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: #E0E0E0;
  color: #ffffff;
  z-index: 2;
  text-align: center;
  line-height: 32px;
  font-size: 22px;
  font-weight: bold;
  font-family: cursive; }

/*# sourceMappingURL=use.css.map */
