<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="flex.css">
    <title>flex</title>
</head>
<body>
    <h1>弹性布局</h1>
    <p class="explain">基本概念：分为容器container和项目item</p>

    <h2>container 的6个属性</h2>
    <ol>
        <li><span class="key">flex-direction</span>: 决定主轴的方向 -> 就是item的排列方向</li>
        <li><span class="key">flex-wrap</span>: 默认下，item在一条轴线上，这个属性定义轴线放不了那么多item，决定如何换行</li>
        <li><span class="key">flex-flow</span>: 是上面2个的合并属性</li>
        <li><span class="key">justify-content</span>: 定义item在主轴上面的对齐方式</li>
        <li><span class="key">align-items</span>: 定义item在交叉轴上的对齐方式</li>
        <li><span class="key">align-content</span>: 定义了多根轴线的对齐方式，<strong>如果只有一根轴线，这个属性就不起作用</strong></li>
    </ol>

    <h2>item 的6个属性</h2>
    <ol>
        <li><span class="key">order</span>:
            <span class="value">integer</span>
            <p>定义item的排列顺序，数值越小，排列越靠前，默认为0</p>
        </li>
        <li><span class="key">flex-grow</span>:
            <span class="value">number</span>
            <p>定义了item的放大比例额，默认是0，即使存在剩余空间，也不放大。</p>
        </li>
        <li><span class="key">flex-shrink</span>:
            <span class="value">number</span>
            <p>定义了item的缩小比例，默认是1，如果空间不足，这个item缩小。空间不足的时候，所有item都等比缩小，设置有flex-shrink: 0;的item不会缩小</p>
        </li>
        <li><span class="key">flex-basis</span>:
            <span class="value">100%</span>
            <p>单个item占据整行</p>
        </li>
        <li><span class="key">flex</span>:
            <span class="value">default : 0 1 auto</span>
            <span class="value">auto : 1 1 auto</span>
            <span class="value">none : 0 0 auto</span>
            <p>前面3个属性的简写，有1个默认值，和2个快捷值</p>
        </li>
        <li><span class="key">align-self</span>:
            <span class="value">auto</span>
            <span class="value">flex-start</span>
            <span class="value">flex-end</span>
            <span class="value">center</span>
            <span class="value">baseline</span>
            <span class="value">stretch</span>
            <p>为自己单独设置和其他item不一样的对齐方式，会覆盖align-items属性。
                默认是auto,表示继承container的align-items属性，
                 如果没有container，就等同于stretch</p>
        </li>
    </ol>


    <div class="box full">
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
        <div class="item"></div>
    </div>

    <h3>一、单项目</h3>
    <div class="one-box">
        <p class="title">1.1 只有左上角1个点的情况。Flex布局默认就是首行左对齐，所以一行代码就够了。</p>
        <div class="box one-1">
            <div class="item"></div>
        </div>

        <p class="title">1.2设置项目的对齐方式，就能实现居中对齐和右对齐。</p>
        <div class="box one-2-1">
            <div class="item"></div>
        </div>
        <div class="box one-2-2">
            <div class="item"></div>
        </div>

        <p class="title">1.3交叉轴对齐方式，可以垂直移动主轴。</p>
        <div class="box one-3-1">
            <div class="item"></div>
        </div>

        <div class="box one-3-2">
            <div class="item"></div>
        </div>

        <div class="box one-3-3">
            <div class="item"></div>
        </div>

        <div class="box one-3-4">
            <div class="item"></div>
        </div>
    </div>

    <h3>二、双项目</h3>
    <div class="two-box">
        <div class="box two-1">
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="box two-2">
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="box two-3">
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="box two-4">
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="box two-5">
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="box two-6">
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="box two-7">
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>

    <h3>三、三项目</h3>
    <div class="three-box">
        <div class="box three-1">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>

    <h3>四、四项目</h3>
    <div class="four-box">
        <div class="box four-1">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    </div>

    <h3>五、五项目</h3>
    <div class="five-box">
        <div class="box five-1">
            <div class="row">
                <div class="item"></div>
                <div class="item"></div>
            </div>
            <div class="row">
                <div class="item"></div>
            </div>
            <div class="row">
                <div class="item"></div>
                <div class="item"></div>
            </div>
        </div>
    </div>
























</body>
</html>