<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .parent {
            display: flex;
        }
        .column {
            flex: 1;
        }
        .column+.column { /* 相邻兄弟选择器 */
            margin-left: 20px;
        }
    </style>
</head>
<body>
<div class="parent">
    <div class="column">
        <p>1</p>
    </div>
    <div class="column">
        <p>2</p>
    </div>
    <div class="column">
        <p>3</p>
    </div>
    <div class="column">
        <p>4</p>
    </div>
</div>
</body>
</html>