/*css 初始化 */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img {
    margin: 0;
    padding: 0;
}

fieldset, img, input, button, textarea {
    border: none;
    padding: 0;
    margin: 0;
    outline-style: none;  /* 去掉环绕光圈*/
}

ul, ol {
    list-style: none;
}

/*去掉原样式中的小黑点*/
input {
    padding-top: 0;
    padding-bottom: 0;
    font-family: "SimSun", "宋体";
}

select, input {
    vertical-align: middle;
}

/*输入字居中显示*/
select, input, textarea {
    font-size: 12px;
    margin: 0;
}

/**/
textarea {
    resize: none;
}

/*防止拖动*/
img {
    border: 0;
    vertical-align: middle; /*  去掉图片底部默认的3像素空白缝隙*/
}

table {
    border-collapse: collapse; /*合并外连线*/
}

.clearfix:before, .clearfix:after {
    /*清除浮动，最好最标准的写法*/
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1; /*IE/7/6*/  /*兼容IE6下的写法*/
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    text-decoration: none;
    font-weight: normal;
    font-size: 100%;
}

s, i, em {
    font-style: normal;  /*将原有的样式风格去掉*/
    text-decoration: none; /*去掉中划线，或是惯穿线*/
}

/* select 兼容性处理 */
select {
    border: solid 1px #000; /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
    appearance: none; /*很关键：将默认的select选择框样式清除*/
    -moz-appearance: none;
    -webkit-appearance: none;
    /* background: #0094ff;将背景改为红色*/
    padding-right: 14px; /*加padding防止文字覆盖*/
}

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand {
    display: none;
}


