@charset "UTF-8";
/*  height  */
/* theme */
/* text */
/* border + background */
/* other */
/* initialize */
* {
  color: #222222;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* -- button 按钮 */
.btn {
  color: #222222;
  text-align: center;
  display: inline-block;
  float: left;
  vertical-align: middle;
  padding: 0 20px;
  margin: 0 5px;
  line-height: 32px;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  background-color: #ffffff; }
  .btn:hover {
    background-color: #F6F8F9; }
  .btn:focus {
    background-color: #F6F8F9; }
  .btn i {
    display: inline-block;
    vertical-align: baseline;
    width: 14px;
    height: 14px;
    position: relative;
    right: 10px; }

/* button -- 尺寸 */
.btn-sm {
  padding: 0 20px;
  line-height: 28px;
  font-size: 12px; }

.btn-xs {
  padding: 0 20px;
  line-height: 22px;
  font-size: 14px; }

.btn-lg {
  padding: 0 20px;
  line-height: 38px;
  font-size: 18px;
  border-radius: 6px; }
  .btn-lg i {
    width: 15px; }

/* button -- 类型 */
.btn-text {
  border: none;
  color: #FF8A41; }
  .btn-text i {
    color: #FF8A41; }
  .btn-text:hover {
    color: #ED6C1C;
    background-color: #ffffff; }
  .btn-text:focus {
    color: #ED6C1C;
    background-color: #ffffff; }

.btn-border {
  border: 1px solid #CCCCCC;
  background-color: #ffffff;
  color: #222222; }
  .btn-border i {
    color: #222222; }
  .btn-border:hover {
    color: #FF8A41;
    border-color: #FF8A41;
    background-color: #ffffff; }
    .btn-border:hover i {
      color: #FF8A41; }
  .btn-border:focus {
    color: #FF8A41;
    border-color: #FF8A41;
    background-color: #ffffff; }
    .btn-border:focus i {
      color: #FF8A41; }

.btn-theme {
  border: 1px solid transparent;
  background-color: #FF8A41;
  color: #ffffff; }
  .btn-theme i {
    color: #ffffff; }
  .btn-theme:hover {
    background-color: #ED6C1C; }
  .btn-theme:focus {
    background-color: #ED6C1C; }

/*  input 共用样式 */
.input-group,
.input-group-sm,
.input-group-xs,
.input-group-lg {
  position: relative;
  display: inline-block;
  float: left;
  padding: 0 5px; }
  .input-group label,
  .input-group-sm label,
  .input-group-xs label,
  .input-group-lg label {
    display: inline-block;
    float: left;
    vertical-align: middle;
    padding-right: 5px; }
  .input-group input,
  .input-group-sm input,
  .input-group-xs input,
  .input-group-lg input {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: microsoft yahei; }
    .input-group input:focus,
    .input-group-sm input:focus,
    .input-group-xs input:focus,
    .input-group-lg input:focus {
      border: 1px solid transparent;
      box-shadow: -1px 0 1px #FF8A41, 0 -1px 1px #FF8A41, 0 1px 1px #FF8A41, 1px 0 1px #FF8A41; }

/* input -- 尺寸 */
.input-group label {
  line-height: 34px; }
.input-group input {
  height: 34px; }

.input-group-sm label {
  line-height: 30px; }
.input-group-sm input {
  height: 30px; }

.input-group-xs {
  font-size: 12px; }
  .input-group-xs label {
    line-height: 24px;
    font-size: 12px; }
  .input-group-xs input {
    height: 24px;
    font-size: 12px; }

/* drapdown */
.dropdown {
  position: relative;
  display: inline-block;
  float: left; }
  .dropdown a {
    display: inline-block;
    height: 34px;
    padding: 5px 20px 5px 10px;
    min-width: 175px;
    border: 1px solid #CCCCCC;
    border-radius: 6px; }
  .dropdown i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s; }
  .dropdown ul {
    border: 1px solid #CCCCCC;
    position: absolute;
    top: 33px;
    left: 0px;
    border-radius: 6px;
    padding: 5px 0;
    background-color: #ffffff;
    z-index: 1;
    display: none; }
    .dropdown ul li {
      padding: 0 10px;
      line-height: 30px;
      min-width: 173px;
      cursor: pointer; }
      .dropdown ul li:hover {
        color: #ffffff;
        background-color: #FF8A41; }

.drop-sm a {
  height: 30px; }
.drop-sm i {
  top: 8px; }
.drop-sm ul {
  top: 29px; }

.drop-xs a {
  height: 24px;
  padding: 3px 20px 3px 10px;
  font-size: 12px;
  border-radius: 4px; }
.drop-xs i {
  top: 5px; }
.drop-xs ul {
  top: 23px; }

/* .drop-hover */
.drop-hover-border a {
  border: 1px solid #FF8A41; }
.drop-hover-border ul {
  border: 1px solid #FF8A41; }

/* 进度条 */
.progress-bar {
  width: 500px;
  height: 16px;
  background-color: #CCCCCC;
  border-radius: 8px; }
  .progress-bar .bar {
    width: 300px;
    height: 100%;
    background-color: #FF8A41;
    border-radius: 8px;
    position: relative; }
    .progress-bar .bar .percent {
      font-size: 12px;
      position: absolute;
      right: -15px;
      top: -30px;
      padding: 3px 5px;
      background-color: #FF8A41;
      border-radius: 6px;
      color: #ffffff; }
      .progress-bar .bar .percent:before {
        content: '';
        position: absolute;
        bottom: -4px;
        left: 13px;
        width: 8px;
        height: 8px;
        background-color: #FF8A41;
        transform: rotate(45deg); }

/* 进度条 -- 上传中 */
.progress-upload {
  width: 500px;
  height: 20px;
  background-color: #CCCCCC;
  border-radius: 4px; }
  .progress-upload .bar {
    width: 300px;
    height: 100%;
    background-color: #FF8A41;
    border-radius: 4px;
    position: relative; }
    .progress-upload .bar .percent {
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 0px;
      line-height: 20px;
      color: #ffffff; }

/* 进度条 -- step */
.progress-step .step-group {
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  margin-left: -15px; }
  .progress-step .step-group .interval,
  .progress-step .step-group .step {
    background-color: #E2E4E5;
    display: inline-block;
    vertical-align: middle;
    position: relative; }
  .progress-step .step-group .step {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #999999;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    z-index: 1; }
  .progress-step .step-group .interval {
    width: 100px;
    height: 15px;
    left: 5px; }
.progress-step .step-group:first-child {
  margin-left: 0; }

.bgc-theme .interval,
.bgc-theme .step {
  color: #fff !important;
  background: #FF8A41 !important; }

/*  table  */
table {
  width: 100%;
  font-size: 14px;
  line-height: 24px; }
  table th, table td {
    text-align: center; }
  table tbody tr:hover {
    background-color: #CCCCCC; }

/* 只有bottom边框 */
.table-bottom thead, .table-bottom tr {
  border-bottom: 1px solid #CCCCCC; }

/* 全部有边框 */
.table-border th, .table-border td {
  border: 1px solid #CCCCCC; }

/* 隔行变色 */
.table-striped tbody tr:nth-child(odd) {
  background-color: #F6F8F9; }
.table-striped tbody tr:hover {
  background-color: #CCCCCC; }

/*  辅助类  */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.hide {
  display: none; }

/* 清除浮动 */
.btn {
  *zoom: 1;
  /*IE/7/6*/
  /*兼容IE6下的写法*/ }
  .btn:before {
    content: "";
    display: table; }
  .btn:after {
    content: "";
    display: table;
    clear: both; }

/*# sourceMappingURL=ui.css.map */
