@charset "UTF-8";
/*  height  */
/* theme */
/* text */
/* border + background */
/* other */
/* initialize */
* {
  color: #222222;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* -- button 按钮 */
.btn {
  color: #222222;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
  line-height: 32px;
  margin: 1px 0;
  font-weight: 400;
  cursor: pointer;
  border: 1px solid #E2E4E5;
  border-radius: 4px;
  background-color: #ffffff; }
  .btn:hover {
    background-color: #F6F8F9; }
  .btn:focus {
    background-color: #F6F8F9; }
  .btn i {
    display: inline-block;
    vertical-align: baseline;
    width: 14px;
    height: 14px;
    position: relative;
    right: 10px; }

/* button -- 尺寸 */
.btn-sm {
  padding: 0 20px;
  line-height: 28px;
  font-size: 12px; }

.btn-xs {
  padding: 0 20px;
  line-height: 22px;
  font-size: 14px; }

.btn-lg {
  padding: 0 20px;
  line-height: 38px;
  font-size: 18px;
  border-radius: 6px; }
  .btn-lg i {
    width: 15px; }

/* button -- 类型 */
.btn-text {
  border: none;
  color: #ED5565; }
  .btn-text i {
    color: #ED5565; }
  .btn-text:hover {
    color: #DA4453;
    background-color: #ffffff; }
  .btn-text:focus {
    color: #DA4453;
    background-color: #ffffff; }

.btn-border {
  border: 1px solid #E2E4E5;
  background-color: #ffffff;
  color: #222222; }
  .btn-border i {
    color: #222222; }
  .btn-border:hover {
    color: #ED5565;
    border-color: #ED5565;
    background-color: #ffffff; }
    .btn-border:hover i {
      color: #ED5565; }
  .btn-border:focus {
    color: #ED5565;
    border-color: #ED5565;
    background-color: #ffffff; }
    .btn-border:focus i {
      color: #ED5565; }

.btn-theme {
  border: 1px solid transparent;
  background-color: #ED5565;
  color: #ffffff; }
  .btn-theme i {
    color: #ffffff; }
  .btn-theme:hover {
    background-color: #DA4453; }
  .btn-theme:focus {
    background-color: #DA4453; }

/*  input 共用样式 */
.input-group,
.input-group-sm,
.input-group-xs,
.input-group-lg {
  position: relative;
  display: inline-block;
  padding: 0 5px; }
  .input-group label,
  .input-group-sm label,
  .input-group-xs label,
  .input-group-lg label {
    display: inline-block;
    vertical-align: middle; }
  .input-group input,
  .input-group-sm input,
  .input-group-xs input,
  .input-group-lg input {
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: microsoft yahei; }
    .input-group input:focus,
    .input-group-sm input:focus,
    .input-group-xs input:focus,
    .input-group-lg input:focus {
      border: 1px solid transparent;
      box-shadow: -1px 0 1px #ED5565, 0 -1px 1px #ED5565, 0 1px 1px #ED5565, 1px 0 1px #ED5565; }

/* input -- 尺寸 */
.input-group label {
  line-height: 36px; }
.input-group input {
  height: 34px; }

.input-group-sm label {
  line-height: 32px; }
.input-group-sm input {
  height: 30px; }

.input-group-xs {
  font-size: 12px; }
  .input-group-xs label {
    line-height: 26px;
    font-size: 12px; }
  .input-group-xs input {
    height: 24px;
    font-size: 12px; }

/* drapdown */
.dropdown {
  position: relative;
  display: inline-block;
  margin: 1px 0; }
  .dropdown a {
    display: inline-block;
    height: 34px;
    line-height: 24px;
    padding: 5px 20px 5px 10px;
    min-width: 175px;
    border: 1px solid #E2E4E5;
    border-radius: 6px; }
  .dropdown i {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s; }
  .dropdown ul {
    border: 1px solid #E2E4E5;
    position: absolute;
    top: 35px;
    left: 0px;
    border-radius: 6px;
    padding: 5px 0;
    background-color: #ffffff;
    z-index: 1;
    display: none; }
    .dropdown ul li {
      padding: 0 10px;
      line-height: 30px;
      min-width: 173px;
      cursor: pointer; }
      .dropdown ul li:hover {
        color: #ffffff;
        background-color: #DA4453; }

.drop-sm a {
  height: 30px;
  line-height: 20px; }
.drop-sm i {
  top: 8px; }
.drop-sm ul {
  top: 31px; }

.drop-xs a {
  height: 24px;
  padding: 3px 20px 3px 10px;
  line-height: 14px;
  font-size: 12px;
  border-radius: 4px; }
.drop-xs i {
  top: 5px; }
.drop-xs ul {
  top: 25px; }

/* .drop-hover */
.drop-hover-border a {
  border: 1px solid #ED5565; }
.drop-hover-border ul {
  border: 1px solid #ED5565; }

/*  table  */
table {
  width: 100%;
  font-size: 14px;
  line-height: 24px; }
  table th, table td {
    text-align: center; }
  table tbody tr:hover {
    background-color: #E2E4E5; }

/* 只有bottom边框 */
.table-bottom thead, .table-bottom tr {
  border-bottom: 1px solid #E2E4E5; }

/* 全部有边框 */
.table-border th, .table-border td {
  border: 1px solid #E2E4E5; }

/* 隔行变色 */
.table-striped tbody tr:nth-child(odd) {
  background-color: #F6F8F9; }
.table-striped tbody tr:hover {
  background-color: #E2E4E5; }

/*  辅助类  */
.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.text-center {
  text-align: center; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.hide {
  display: none; }

/*# sourceMappingURL=ui.css.map */
