@charset "UTF-8";
/* 定义变量 */
/* theme */
//$theme-normal: #FF8A41;
//$theme-hover: #ED6C1C;
//$theme-other: #ffd9c2;

//$theme-normal: #ED5565;
//$theme-hover: #DA4453;
//$theme-other: #FA7A87;

$theme-normal: #00BFA5;
$theme-hover: #04A28D;
$theme-other: #0BDABE;

//$theme-normal: #1D98F9;
//$theme-hover: #0283E8;
//$theme-other: #44ABFD;

/*  height  */
$height-xs: 24px;
$height-sm: 30px;
$height-md: 34px;
$height-lg: 40px;

/* text */
$text-normal: #222222;
$six9: #999999;
$content-bg: #F6F8F9;

/* border + background */
$sixF: #ffffff;
$sixC: #CCCCCC;
$back: #F6F8F9;
$hybrid: #E2E4E5;

/* other */
$paddingH-20: 20px;
$paddingH-10: 10px;

/* initialize */
*{
  color: $text-normal;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* -- button 按钮 */
.btn{
  color: $sixF;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0 $paddingH-20;
  margin: 0 5px;
  font-weight: 400;
  cursor: pointer;
  background-color: $sixC;
  border-radius: 4px;
  &:hover{
    background-color: $hybrid;
  }
  &:focus{
    background-color: $hybrid;
  }
  i{
    position: relative;
    right: 10px;
    //bottom: 1px;
    font-size: 16px;
  }
}

/*button -- 尺寸*/
.btn-xs{
  font-size: 14px;
  height: $height-xs;
  i{
    font-size: 12px;
    bottom: 1px;
  }
}

.btn-sm{
  height: $height-sm;
  font-size: 14px;
  i{
    font-size: 14px;
  }
}

.btn-md{
  height: $height-md;
  font-size: 16px;
  i{
    font-size: 16px;
  }
}

.btn-lg{
  height: $height-lg;
  font-size: 18px;
  border-radius: 6px;
  i{
    font-size: 18px;
  }
}

/*button -- 类型*/
.btn-border{
  border: 1px solid $sixC;
  background-color: $sixF;
  color: $text-normal;
  i{
    color: $text-normal;
  }
  &:hover{
    color: $theme-normal;
    border-color: $theme-normal;
    background-color: $sixF;
    i{
      color: $theme-normal;
    }
  }
  &:focus{
    color: $theme-normal;
    border-color: $theme-normal;
    background-color: $sixF;
    i{
      color: $theme-normal;
    }
  }
}

.btn-text{
  background-color: $sixF;
  color: $theme-normal;
  i{
    color: $theme-normal;
  }
  &:hover{
    color: $theme-hover;
    background-color: $sixF;
  }
  &:focus{
    color: $theme-hover;
    background-color: $sixF;
  }
}

.btn-theme{
  border: 1px solid transparent;
  background-color: $theme-normal;
  color: $sixF;
  i{
    color: $sixF;
  }
  &:hover{
    background-color: $theme-hover;
  }
  &:focus{
    background-color: $theme-hover;
  }
}



/*  input 共用样式 */
.input-group-xs,
.input-group-sm,
.input-group-md,
.input-group-lg{
  position: relative;
  display: inline-block;
  float: left;
  padding: 0 5px;
  label{
    display: inline-block;
    float: left;
    vertical-align: middle;
    padding-right: 5px;
  }
  input{
    border: 1px solid $sixC;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: microsoft yahei;
    &:focus{
      border: 1px solid rgba(0,0,0, .0);
      box-shadow: -1px 0 1px $theme-normal,
      0 -1px 1px $theme-normal,
      0 1px 1px $theme-normal,
      1px 0 1px $theme-normal;
    }
  }
}

/* input -- 尺寸 */
.input-group-xs{
  font-size: 12px;
  label{
    line-height: $height-xs;
    font-size: 12px;
  }
  input{
    height: $height-xs;
    font-size: 12px;
  }
}

.input-group-sm{
  label{
    line-height: $height-sm;
  }
  input{
    height: $height-sm;
  }
}

.input-group-md{
  label{
    line-height: $height-md;
  }
  input{
    height: $height-md;
  }
}



/* drapdown */
.dropdown{
  position: relative;
  display: inline-block;
  float: left;

  a{
    display: inline-block;
    height: $height-md;
    //line-height: $height-md - 10px;
    padding: 5px 20px 5px 10px;
    min-width: 140px;
    border: 1px solid $sixC;
    border-radius: 6px;
  }
  i{
    position: absolute;
    top: $height-md / 2 - 7px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  ul{
    border: 1px solid $sixC;
    position: absolute;
    top: $height-md - 1;
    left: 0px;
    border-radius: 6px;
    background-color: $sixF;
    z-index: 1;
    display: none;
    overflow: hidden;
    li{
      padding: 0 10px;
      line-height: 30px;
      min-width: 173px;
      cursor: pointer;
      &:hover{
        color: $sixF;
        background-color: $theme-normal;
      }
    }
  }
}

.drop-xs{
  a{
    height: $height-xs;
    padding: 3px 20px 3px 10px;
    //line-height: $height-xs - 10px;
    font-size: 12px;
    border-radius: 4px;
  }
  i{
    top: $height-xs / 2 - 7px;
  }
  ul{
    top: $height-xs - 1px;
    li{
      font-size: 12px;
      line-height: $height-xs;
    }
  }
}

.drop-sm{
  a{
    height: $height-sm;
    //line-height: $height-sm - 10px;
  }
  i{
    top: $height-sm / 2 - 7px;
  }
  ul{
    top: $height-sm - 1px;
    li{
      font-size: 14px;
      line-height: $height-sm;
    }
  }
}

.drop-md{
  a{
    height: $height-md;
    //line-height: $height-sm - 10px;
  }
  i{
    top: $height-md / 2 - 7px;
  }
  ul{
    top: $height-md - 1px;
    li{
      line-height: $height-md;
    }
  }
}

.drop-lg{

}



/* .drop-hover */
.drop-hover-border{
  a{
    border: 1px solid $theme-normal;
  }

  ul{
    border: 1px solid $theme-normal;
  }
}



/* 进度条 */
.progress-bar{
  $height: 10px;
  width: 500px;
  height: $height;
  background-color: $hybrid;
  border-radius: $height / 2;
  .bar{
    width: 300px;
    height: 100%;
    background-color: $theme-normal;
    border-radius: $height / 2;
    position: relative;
    .percent{
      font-size: 12px;
      position: absolute;
      right: -15px;
      top: -30px;
      padding: 3px 5px;
      background-color: $theme-normal;
      border-radius: 6px;
      color: $sixF;
      &:before{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 13px;
        width: 8px;
        height: 8px;
        background-color: $theme-normal;
        transform: rotate(45deg);
      }
    }
  }
}

/* 进度条 -- 上传中 */
.progress-upload{
  $height: 20px;
  width: 500px;
  height: $height;
  background-color: $hybrid;
  border-radius: 4px;
  .bar{
    width: 300px;
    height: 100%;
    background-color: $theme-normal;
    border-radius: 4px;
    position: relative;
    .percent{
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 0px;
      line-height: $height;
      color: $sixF;

    }
  }
}

/* 进度条 -- step */
.progress-step{
  .step-group{
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    margin-left: -15px;
    $radius: 30px;

    .interval,
    .step{
      background-color: $hybrid;
      display: inline-block;
      vertical-align: middle;
      position: relative;
    }

    .step{
      width: $radius;
      height: $radius;
      border-radius: 50%;
      color: $six9;
      font-weight: 600;
      text-align: center;
      line-height: $radius;
      z-index: 1;
    }
    .interval{
      width: 100px;
      height: 9px;
      left: 5px;
    }
  }

  .step-group:first-child{
    margin-left: 0;
  }
}

/* 进度条 -- step -- 背景色 */
.bgc-theme{
  .interval,
  .step{
    color: #fff !important;
    background: $theme-normal !important;
  }
}




/* 多选框 */
.check-box-group{
  .check-parent{
    display: inline;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    &:hover .icon-check-empty{
      color: $theme-normal;
    }

    .icon-check-empty{
      color: $sixC;
    }

    .icon-check{
      color: $theme-normal;
      position: absolute;
      top: 1px;
      left: -1px;
    }
  }
}


/* 单选框 */
.radio-group{
  .radio-parent{
    display: inline;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    &:hover .icon-circle-empty{
      color: $theme-normal;
    }

    .icon-circle-empty{
      color: $sixC;
    }

    .icon-circle{
      color: $theme-normal;
      position: absolute;
      top: 1px;
      left: 0px;
    }
  }
}



/* tab + nav */
.nav-item{
  padding: 0 $paddingH-10;
  line-height: $height-sm;
  color: $text-normal;
  cursor: pointer;
  display: inline-block;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-crumb,
.nav-underline,
.nav-button,
.nav-border,
.nav-btn-border{
  font-size: 0;
  margin-top: 17px;
}

.nav-crumb{
  .nav-item{
    i{
      margin-right: 5px;
    }
  }
  >i{
    color: $six9;
    display: inline-block;
    vertical-align: top;
    line-height: $height-sm;
    position: relative;
    top: 1px;
  }
}

.nav-underline{
  .nav-item{
    border: none;
    border-bottom: 2px solid $hybrid;
    &:hover{
      color: $theme-normal;
      border-bottom-color: $theme-normal;
    }
  }

}

.nav-button{
  .nav-item{
    padding: 0 $paddingH-20;
    border-radius: 4px;
    &:hover{
      color: $sixF;
      background-color: $theme-normal;
      i{
        color: $sixF;
      }
    }
  }

}

.nav-border{
  display: inline-block;
  .nav-item{
    padding: 0 $paddingH-20;
    height: $height-sm;
    line-height: $height-sm;
    border-bottom: 1px solid $hybrid;
    color: $six9;
    i{
      color: $six9;
      position: relative;
      left: 8px;
      top: 1px;
    }
    &:hover{
      color: $text-normal;
      i{
        color: $text-normal;
      }
    }
  }
}

.nav-btn-border{
  $padding: 10px;
  border-bottom: 1px solid $hybrid;
  padding: 0 $padding;
  display: inline-block;
  margin-left: -$padding;
  .nav-item{
    padding: 0 $paddingH-20;
    border: 1px solid $hybrid;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    background-color: $content-bg;
    &:hover{
      background-color: $theme-normal;
      color: $sixF;
      border-color: $theme-hover;
      i{
        color: $sixF;
      }
    }
  }
  .nav-item:not(:first-child){
    margin-left: $padding;
  }
}


/* 点击 tab, 需要添加的类 */
.opposite-crumb{
  color: $theme-normal;
  i{
    color: $theme-normal;
  }
}

.opposite-underline{
  color: $theme-normal !important;
  border-bottom-color: $theme-normal !important;
}

.opposite-button{
  background-color: $theme-normal;
  color: $sixF;
  i{
    color: $sixF;
  }
}

.opposite-border{
  color: $text-normal !important;
  border: 1px solid $hybrid;
  border-bottom: none !important;
  border-radius: 4px 4px 0 0;
  line-height: $height-sm - 1 !important;
  i{
    color: $text-normal !important;
  }
}

.opposite-btn-border{
  background-color: $theme-normal !important;
  color: $sixF;
  border-color: $theme-hover !important;
  i{
    color: $sixF;
  }
}




/* 提示信息 */
.alert-success,
.alert-error,
.alert-warn,
.alert-info{
  border: 1px solid $hybrid;
  border-radius: 4px;
  padding: 10px;
  width: 80%;
}

.alert-success{
  span{
    color: #5eb95e;

  }
  border-color: #c9e7c9;
  background-color: #e7f5e7;
}

.alert-error{
  span{
    color: #dd514c;
  }
  border-color: #f5cecd;
  background-color: #fae5e4;
}

.alert-warn{
  span{
    color: #f37b1d;
  }
  border-color: #fbd0ae;
  background-color: #feebdd;
}

.alert-info{
  span{
    color: #14a6ef;
  }
  border-color: #caebfb;
  background-color: #e1f4fd;
}




/* 分页 */
.pages-line,
.pages-filled{
  display: inline-block;
  div, ul, ul>li{
    float: left;
    cursor: pointer;
  }
  div, ul>li{
    padding: 0 10px;
    height: $height-md;
    line-height: $height-md;
  }
  .point{
    border: none;
    cursor: auto;
  }
}

.pages-line{
  div, ul>li{
    border: 1px solid $sixC;
    border-radius: 4px;
    margin-right: 5px;
  }
  ul>li{
    padding: 0 12px;
    &:hover:not(.point){
      color: $sixF;
      background-color: $theme-normal;
      border-color: $theme-hover !important;
    }
  }
  .previous, .next{
    padding: 0 15px;
  }
  .import{
    padding: 0px;
    input{
      width: $height-md;
      padding-left: 10px;
      font-size: 14px;
      font-family: "Microsoft YaHei";
      margin-top: -3px;
      &:focus .import{
        border-color: $theme-normal;
      }
    }
  }
  .go{
    margin-right: 0px;
  }
  .page-disabled{
    cursor: not-allowed !important;
    background-color: $hybrid;
  }
}

.pages-filled{
  div, ul>li{
    background-color: $theme-normal;
  }
  div>i, div>span, ul>li{
    color: $sixF;
  }
  ul>li{
    padding: 0 13px;
    &:hover:not(.point){
      background-color: $theme-hover !important;
    }
  }
  ul>li:not(:last-child){
    border-right: 1px solid $theme-hover;
  }
  .previous{
    border-radius: 4px 0 0 4px;
    margin-right: 5px;
  }
  .next{
    border-radius: 0 4px 4px 0;
    margin-left: 5px;
  }
}

.line-opposite{
  color: $sixF;
  background-color: $theme-normal;
  border-color: $theme-hover !important;
}

.filled-opposite{
  background-color: $theme-hover !important;
}




/* tree-view */
#tree-view{
  border: 1px solid $theme-normal;
  display: inline-block;
  padding: 10px;
  .icon-arrow-up{
    transition: all 0.3s;
  }
  ul{

  }
  li{
    position: relative;
    /* 改名html的动态样式 */
    .change{
      background-color: #fff;
      display: inline-block;
      >input{
        border: 1px solid $sixC;
        border-radius: 4px;
        padding: 2px 5px;
        font-size: 14px;
        font-family: microsoft yahei;
        min-width: 70px;
        vertical-align: inherit;
      }
      >i{
      }
    }
  }

  i, span{
    cursor: pointer;
  }
  span{
    display: inline-block;
    padding: 3px 5px;
    &:hover{
      background-color: $content-bg;
    }
  }

  .first>li:not(:last-child),
  .second>li:not(:last-child),
  .third>li:not(:last-child),
  .fourth>li:not(:last-child),
  .fifth>li:not(:last-child){
    padding: 0px 0px 5px 15px;
    margin-top: 1px;
  }


  .first>li:last-child,
  .second>li:last-child,
  .third>li:last-child,
  .fourth>li:last-child,
  .fifth>li:last-child{
    padding: 0px 0px 0px 15px;
  }


  .first>li{
    padding-left: 0px !important;
  }
  .second>li{

  }
  .third>li{

  }
  .fourth>li{

  }
  .fifth>li{

  }
}


/* accordion */
#accordion{
  $paddingL: 10px;
  border: 1px solid $theme-normal;
  display: inline-block;
  vertical-align: top;
  ul{
    li{
      width: 180px;
      a{
        display: inline-block;
        width: 100%;
        padding: 5px 15px 5px 0px;
        i{
          display: inline-block;
          transition: all 0.3s;
        }
        span{

        }

      }

      /* hover*/
      .a-hover{
        background-color: $content-bg;
      }

      /* 有子集菜单的 -- 点击效果 */
      .a-hasChild{
        background-color: $theme-normal;
        i, span{
          color: $sixF;
        }
      }

      /* 没有子集菜单 -- 点击效果 */
      .a-noChild{
        i, span{
          color: $theme-normal;
        }
      }

    }
  }

  .first{
    a{
      padding-left: $paddingL;
    }
  }
  .second{
    a{
      padding-left: $paddingL + 15;
    }
  }
  .third{
    a{
      padding-left: $paddingL + 2*15;
    }
  }
  .fourth{
    a{
      padding-left: $paddingL + 3*15;
    }
  }
  .fifth{
    a{
      padding-left: $paddingL + 4*15;
    }
  }
}


/* 遮罩层(#mask-layer) -- 弹窗(.layer-popup) -- 侧滑(.layer-sidle) */
#mask-layer{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0 , 0, .5);
  z-index: 2;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  .layer-popup{
    border: 1px solid $hybrid;
    border-radius: 6px;
    background-color: #fff;
    //box-shadow: 1px 1px 10px 1px #000;
    position: absolute;
    top: -5000px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 5% auto;
    width: 450px;
    min-height: 135px;
    overflow: auto;
    position: relative;
    .title,
    .content,
    .opera{
      width: 100%;
      padding: 10px;
    }
    .title{
      border-bottom: 1px solid $hybrid;
      border-radius: 6px 6px 0px 0px;
      background-color: #f6f8f9;
      i{
        float: right;
        cursor: pointer;
        &:hover{
          color: $theme-normal;
        }
      }
    }
    .content{
      text-align: center;
      background-color: #fff;
      max-height: 400px;
      overflow: auto;
    }
    .opera{
      border-top: 1px solid $hybrid;
      border-radius: 0 0 6px 6px;
    }
  }

  .layer-sidle{
    background-color: #fff;
    border: 1px solid $hybrid;
    //box-shadow: 1px 1px 10px 1px #0094ff;

    overflow: hidden;
    position: absolute;
    top: 0px;
    bottom: 0;
    .title{
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid $hybrid;
      background-color: #f6f8f9;
      i{
        float: right;
        cursor: pointer;
        position: relative;
        top: 2px;
        &:hover{
          color: $theme-normal;
        }
      }
    }
    .content{
      width: 100%;
      padding: 10px;
      overflow-x: hidden;
      overflow-y: auto;
      //position: relative;
    }
  }
}



/* slider -- 轮播图 */
.slider{
  width: 100%;
  //overflow: hidden;
  position: relative;
  .slider-main{
    position: absolute;
    top: 0px;
    left: 0px;
    .slider-main-item{
      float: left;
      a{
        img{
          width: 100%;
        }
      }
    }
  }

  .slider-extra{
    .extra-nav{
      position: absolute;
      bottom: 5%;
      left: 50%;
      margin-left: -60px;
      .extra-nav-item{
        float: left;
        cursor: pointer;
        position: relative;
        span{
          display: block;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          background-color: $theme-normal;
          opacity: .5;
          float: left;
        }
        i{
          color: $theme-normal;
          position: absolute;
          top: 0px;
          left: 0px;
        }
        &:hover i{
          font-size: 27px;
          top: -7px;
          left: -5px;
        }
      }
      .extra-nav-item:not(:last-child){
        margin-right: 5px;
      }

      .extra-nav-item-click{

      }
    }

    .extra-page{
      a{
        z-index: -1;
        position: absolute;
        top: 50%;
        margin-top: -31px;
        width: 28px;
        height: 62px;
        line-height: 62px;
        background: rgba(0, 0, 0, .5);
        color: #fff;
        text-align: center;
        font-size: 22px;
        font-weight: 800;
        font-family: simsun;
        &:hover{
          background: rgba(0, 0, 0, .8);
        }
      }

      .extra-page-prev{
        left: 0em;
      }
      .extra-page-next{
        right: 0em;
      }
    }
  }
}






/*  table  */
table{
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  th,td{
    text-align: center;
  }
  tbody{
    tr{
      &:hover{
        background-color: $sixC;
      }
    }
  }
}

/* 只有bottom边框 */
.table-bottom{
  thead,tr{
    border-bottom: 1px solid $sixC;
  }
}

/* 全部有边框 */
.table-border{
  th,td{
    border: 1px solid $sixC;
  }
}

/* 隔行变色 */
.table-striped{
  tbody{
    tr:nth-child(odd){
      background-color: $back;
    }
    tr:hover{
      background-color: $sixC;
    }
  }
}









/* 常用类 */
.themeColor-back{
  background-color: $theme-normal;
}

.themeColor-text{
  color: $theme-normal;
}

/*  辅助类  */
.hide{
  display: none;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}


/* 清除浮动 */
.btn,
.slider-main,
.pages-line,
.pages-filled{
  *zoom: 1; /*IE/7/6*/
  &:before{
    content: "";
    display: table;
  }
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}

