@charset "UTF-8";
/* 定义变量 */
/* theme */
$theme-normal: #FF8A41;
$theme-hover: #ED6C1C;
$theme-other: #ffd9c2;

//$theme-normal: #ED5565;
//$theme-hover: #DA4453;
//$theme-other: #FA7A87;

//$theme-normal: #00BFA5;
//$theme-hover: #04A28D;
//$theme-other: #0BDABE;

//$theme-normal: #1D98F9;
//$theme-hover: #0283E8;
//$theme-other: #44ABFD;

/*  height  */
$height-md: 34px;
$height-sm: 30px;
$height-xs: 24px;
$height-lg: 40px;

/* text */
$text-normal: #222222;
$six9: #999999;

/* border + background */
$sixF: #ffffff;
$sicC: #CCCCCC;
$back: #F6F8F9;
$hybrid: #E2E4E5;

/* other */
$paddingH-20: 20px;
$paddingH-10: 10px;

/* initialize */
*{
  color: $text-normal;
  font-size: 14px;
  font-family: "Microsoft YaHei";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


/* -- button 按钮 */
.btn{
  color: $text-normal;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  padding: 0 $paddingH-20;
  margin: 0 5px;
  font-weight: 400;
  cursor: pointer;
  color: $text-normal;
  background-color: $hybrid;
  border-radius: 4px;
  &:hover{
    background-color: $sicC;
  }
  &:focus{
    background-color: $sicC;
  }
  i{
    position: relative;
    right: 10px;
    //bottom: 1px;
    font-size: 16px;
  }
}

/*button -- 尺寸*/
.btn-xs{
  font-size: 14px;
  height: $height-xs;
  i{
    font-size: 12px;
    bottom: 1px;
  }
}

.btn-sm{
  height: $height-sm;
  font-size: 14px;
  i{
    font-size: 14px;
  }
}

.btn-md{
  height: $height-md;
  font-size: 16px;
  i{
    font-size: 16px;
  }
}

.btn-lg{
  height: $height-lg;
  font-size: 18px;
  border-radius: 6px;
  i{
    font-size: 18px;
  }
}

/*button -- 类型*/
.btn-border{
  border: 1px solid $sicC;
  background-color: $sixF;
  color: $text-normal;
  i{
    color: $text-normal;
  }
  &:hover{
    color: $theme-normal;
    border-color: $theme-normal;
    background-color: $sixF;
    i{
      color: $theme-normal;
    }
  }
  &:focus{
    color: $theme-normal;
    border-color: $theme-normal;
    background-color: $sixF;
    i{
      color: $theme-normal;
    }
  }
}

.btn-text{
  background-color: $sixF;
  color: $theme-normal;
  i{
    color: $theme-normal;
  }
  &:hover{
    color: $theme-hover;
    background-color: $sixF;
  }
  &:focus{
    color: $theme-hover;
    background-color: $sixF;
  }
}

.btn-theme{
  border: 1px solid transparent;
  background-color: $theme-normal;
  color: $sixF;
  i{
    color: $sixF;
  }
  &:hover{
    background-color: $theme-hover;
  }
  &:focus{
    background-color: $theme-hover;
  }
}



/*  input 共用样式 */
.input-group,
.input-group-sm,
.input-group-xs,
.input-group-lg{
  position: relative;
  display: inline-block;
  float: left;
  padding: 0 5px;
  label{
    display: inline-block;
    float: left;
    vertical-align: middle;
    padding-right: 5px;
  }
  input{
    border: 1px solid $sicC;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    font-family: microsoft yahei;
    &:focus{
      border: 1px solid rgba(0,0,0, .0);
      box-shadow: -1px 0 1px $theme-normal,
      0 -1px 1px $theme-normal,
      0 1px 1px $theme-normal,
      1px 0 1px $theme-normal;
    }
  }
}

/* input -- 尺寸 */
.input-group{
  label{
    line-height: $height-md;
  }
  input{
    height: $height-md;
  }
}

.input-group-sm{
  label{
    line-height: $height-sm;
  }
  input{
    height: $height-sm;
  }
}

.input-group-xs{
  font-size: 12px;
  label{
    line-height: $height-xs;
    font-size: 12px;
  }
  input{
    height: $height-xs;
    font-size: 12px;
  }
}



/* drapdown */
.dropdown{
  position: relative;
  display: inline-block;
  float: left;

  a{
    display: inline-block;
    height: $height-md;
    //line-height: $height-md - 10px;
    padding: 5px 20px 5px 10px;
    min-width: 175px;
    border: 1px solid $sicC;
    border-radius: 6px;
  }
  i{
    position: absolute;
    top: $height-md / 2 - 7px;
    right: 10px;
    cursor: pointer;
    transition: all 0.3s;
  }
  ul{
    border: 1px solid $sicC;
    position: absolute;
    top: $height-md - 1;
    left: 0px;
    border-radius: 6px;
    padding: 5px 0;
    background-color: $sixF;
    z-index: 1;
    display: none;
    li{
      padding: 0 10px;
      line-height: 30px;
      min-width: 173px;
      cursor: pointer;
      &:hover{
        color: $sixF;
        background-color: $theme-normal;
      }
    }
  }
}

.drop-sm{
  a{
    height: $height-sm;
    //line-height: $height-sm - 10px;
  }
  i{
    top: $height-sm / 2 - 7px;
  }
  ul{
    top: $height-sm - 1px;
  }
}

.drop-xs{
  a{
    height: $height-xs;
    padding: 3px 20px 3px 10px;
    //line-height: $height-xs - 10px;
    font-size: 12px;
    border-radius: 4px;
  }
  i{
    top: $height-xs / 2 - 7px;
  }
  ul{
    top: $height-xs - 1px;
  }
}

/* .drop-hover */
.drop-hover-border{
  a{
    border: 1px solid $theme-normal;
  }

  ul{
    border: 1px solid $theme-normal;
  }
}



/* 进度条 */
.progress-bar{
  $height: 16px;
  width: 500px;
  height: $height;
  background-color: $sicC;
  border-radius: $height / 2;
  .bar{
    width: 300px;
    height: 100%;
    background-color: $theme-normal;
    border-radius: $height / 2;
    position: relative;
    .percent{
      font-size: 12px;
      position: absolute;
      right: -15px;
      top: -30px;
      padding: 3px 5px;
      background-color: $theme-normal;
      border-radius: 6px;
      color: $sixF;
      &:before{
        content: '';
        position: absolute;
        bottom: -4px;
        left: 13px;
        width: 8px;
        height: 8px;
        background-color: $theme-normal;
        transform: rotate(45deg);
      }
    }
  }
}

/* 进度条 -- 上传中 */
.progress-upload{
  $height: 20px;
  width: 500px;
  height: $height;
  background-color: $sicC;
  border-radius: 4px;
  .bar{
    width: 300px;
    height: 100%;
    background-color: $theme-normal;
    border-radius: 4px;
    position: relative;
    .percent{
      font-size: 12px;
      position: absolute;
      right: 10px;
      top: 0px;
      line-height: $height;
      color: $sixF;

    }
  }
}

/* 进度条 -- step */
.progress-step{
  .step-group{
    cursor: pointer;
    display: inline-block;
    font-size: 0;
    margin-left: -15px;
    $radius: 40px;

    .interval,
    .step{
      background-color: $hybrid;
      display: inline-block;
      vertical-align: middle;
      position: relative;
    }

    .step{
      width: $radius;
      height: $radius;
      border-radius: 50%;
      color: $six9;
      font-weight: 600;
      text-align: center;
      line-height: $radius;
      z-index: 1;
    }
    .interval{
      width: 100px;
      height: 15px;
      left: 5px;
    }
  }

  .step-group:first-child{
    margin-left: 0;
  }
}

/* 进度条 -- step -- 背景色 */
.bgc-theme{
  .interval,
  .step{
    color: #fff !important;
    background: $theme-normal !important;
  }
}


/* 多选框 */
.check-box-group{
  .check-parent{
    display: inline;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    &:hover .icon-check-empty{
      color: $theme-normal;
    }

    .icon-check-empty{
      color: $sicC;
    }

    .icon-check{
      color: $theme-normal;
      position: absolute;
      top: 1px;
      left: -1px;
    }
  }
}


/* 单选框 */
.radio-group{
  .radio-parent{
    display: inline;
    margin: 0 5px;
    cursor: pointer;
    position: relative;
    &:hover .icon-circle-empty{
      color: $theme-normal;
    }

    .icon-circle-empty{
      color: $sicC;
    }

    .icon-circle{
      color: $theme-normal;
      position: absolute;
      top: 1px;
      left: 0px;
    }
  }
}



/* tab + nav */
.nav-item{
  padding: 0 $paddingH-10;
  line-height: $height-sm;
  color: $text-normal;
  cursor: pointer;
  display: inline-block;
  //vertical-align: middle;
  max-width: 140px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.nav-crumb,
.nav-underline,
.nav-button,
.nav-border,
.nav-btn-border{
  font-size: 0;
  margin-top: 10px;
}

.nav-crumb{
  .nav-item{
    i{
      margin-right: 5px;
    }
  }
  >i{
    color: $six9;
    display: inline-block;
    vertical-align: top;
    line-height: $height-sm;
    position: relative;
    top: 1px;
  }
}

.nav-underline{
  .nav-item{
    border-bottom: 2px solid $hybrid;
    &:hover{
      color: $theme-normal;
      border-color: $theme-normal;
    }
  }
}

.nav-button{
  .nav-item{
    padding: 0 $paddingH-20;
    border-radius: 4px;
    &:hover{
      color: $sixF;
      background-color: $theme-normal;
      i{
        color: $sixF;
      }
    }
  }

}

.nav-border{
  border-bottom: 1px solid $six9;
  display: inline-block;
  .nav-item{
    padding: 0 $paddingH-20;
    line-height: $height-sm;
    position: relative;
    top: 1px;
    i{
      color: $text-normal;
      position: relative;
      left: 8px;
      top: 1px;
    }
    &:hover{
      color: $six9;
      i{
        color: $six9;
      }
    }
  }
}

.nav-btn-border{
  $padding: 10px;
  border-bottom: 1px solid $six9;
  padding: 0 $padding;
  display: inline;
  margin-left: -$padding;
  .nav-item{
    padding: 0 $paddingH-20;
    border: 1px solid $six9;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    top: 1px;
    i{
      position: relative;
      left: 8px;
    }
    &:hover{
      border: 1px solid transparent !important;
      background-color: $theme-normal;
      color: $sixF;
      i{
        color: $sixF;
      }
    }
  }
  .nav-item:not(:first-child){
    margin-left: $padding;
  }
}


/* 点击 tab, 需要添加的类 */
.opposite-crumb{
  color: $theme-normal;
  i{
    color: $theme-normal;
  }
}

.opposite-underline{
  color: $theme-normal !important;
  border-color: $theme-normal !important;
}

.opposite-button{
  background-color: $theme-normal;
  color: $sixF;
  i{
    color: $sixF;
  }
}

.opposite-border{
  color: $six9;
  border: 1px solid $six9;
  border-radius: 4px 4px 0 0;
  border-bottom: 1px solid $sixF;
  i{
    color: $six9 !important;
  }
}

.opposite-btn-border{
  border: 1px solid transparent !important;
  background-color: $theme-normal;
  color: $sixF;
  i{
    color: $sixF;
  }
}







/*  table  */
table{
  width: 100%;
  font-size: 14px;
  line-height: 24px;
  th,td{
    text-align: center;
  }
  tbody{
    tr{
      &:hover{
        background-color: $sicC;
      }
    }
  }
}

/* 只有bottom边框 */
.table-bottom{
  thead,tr{
    border-bottom: 1px solid $sicC;
  }
}

/* 全部有边框 */
.table-border{
  th,td{
    border: 1px solid $sicC;
  }
}

/* 隔行变色 */
.table-striped{
  tbody{
    tr:nth-child(odd){
      background-color: $back;
    }
    tr:hover{
      background-color: $sicC;
    }
  }
}











/* 常用类 */
.themeColor-back{
  background-color: $theme-normal;
}

.themeColor-text{
  color: $theme-normal;
}

/*  辅助类  */
.hide{
  display: none;
}

.text-left{
  text-align: left;
}

.text-right{
  text-align: right;
}

.text-center{
  text-align: center;
}

.pull-left{
  float: left;
}

.pull-right{
  float: right;
}


/* 清除浮动 */
.btn{
  *zoom: 1; /*IE/7/6*/  /*兼容IE6下的写法*/
  &:before{
    content: "";
    display: table;
  }
  &:after{
    content: "";
    display: table;
    clear: both;
  }
}